aniso8601==7.0.0
appdirs==1.4.3
Click==7.0
Flask==1.1.1
Flask-RESTful==0.3.7
fs==2.4.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
python-gnupg==0.4.4
pytz==2019.1
six==1.12.0
Werkzeug==0.15.5
